{%extends 'mentors/mentor_base.html'%}

{%block body%}
<br>
    <div class="container">
        <h1>Projects Assigned to You</h1><br>
        <table class="table">
            <thead>
                <tr>
                    <th>Project Title</th>
                    <th>Domain</th>
                    <th>Members</th>
                    <th>Tech Stack</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td><a href="{% url 'project_tasks_mentor' project.id %}">{{ project.project_title }}</a></td>
                    <td>{{ project.project_domain }}</td>
                    <td>{{ project.member_details_1 }}, {{ project.member_details_2 }}, {{ project.member_details_3 }}, {{ project.member_details_4 }}</td>
                    <td>{{ project.tech_stack }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No projects found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%endblock%}