{%extends 'welcome/base.html'%}
{%block style%}
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    }
  input,select {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
    }
    button {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
   button:hover {
      background-color: #0056b3;
    }
{%endblock%}
{%block body%}
  <center><h3>Create Timeline</h3></center>
  <div class="container-md p-3">
    <div class='row'>
      <div class='col-3'></div>
      <div class='col-6'>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Tasks</button>
        </form>
            <a href='/home'><button>Save</button></a>

      </div>
    </div>
  </div>
  
  {%endblock%}