{%extends 'welcome/base.html'%}

{%block body%}
<br><br>
<div class="container">
    <h1>Project Tasks: {{ project.project_title }}</h1><br>
    <div class="task-list">
        {% if tasks %}
            <div class="row">
                {% for task in tasks %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ task.task_name.name }}</h5>
                                <p class="card-text">{{ task.task_name.description }}</p>
                                <p class="card-text">Status: {{ task.status }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No tasks found for this project.</p>
        {% endif %}
    </div>
</div>
{%endblock%}